*{
    margin: 0px;
    padding: 10px;
    text-align: center;
}
body{
    background-color: blue;
}
.orange{
    width: 500px;
    height: 50px;
    padding: 3px;
    background: orangered;
    box-sizing: border-box;
    border: 4px solid white;
}
.white{
    width: 500px;
    height: 50px;
    padding: 3px;
    background: white;
    box-sizing: border-box;
    border: 4px solid green;
}
.green{
    width: 500px;
    height: 50px;
    padding: 3px;
    background: green;
    box-sizing: border-box;
    border: 4px solid orangered;
}